<!DOCTYPE html>

<html lang="en">

<head>
  <title>Hello</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">

</head>

<body>

  <h1 class="fade-in">Hello, Stranger.</h1>
  <p style="animation-delay: 1.0s;">Take a deep breath.</p>
  <p style="animation-delay: 2.2s;">Calm your mind.</p>
  <p style="animation-delay: 3.2s;">Think about your question.</p>
  <p style="animation-delay: 4.7s;">Then draw a card.</p>
  <div id="deck">
    <div id="card-container" class="fade-in" style="animation-delay:6.5s;">
      <div class="flip-card" :class="{ flipped: isflipped }" @click="flipCard(card)">
        <div class="flip-card-back">
          <img src="images/Waite_cards/back.jpg" alt="Card back" style="height: 100%; width: 100%;">
        </div>
        
        <div v-if="thecard" class="flip-card-front">
          <img :src="thecard.image" alt="Card Front" style="height: 100%; width: 100%;">
        </div>
        
      </div>
      
    </div>
    <div style="height: 100px;">
      <h3 v-if="isflipped" class="fade-in">{{thecard.Emeaning}}</h3>
    </div>
  </div>

  <script src="js/vue.js"></script>
  <script>

    const app = Vue.createApp({
      data() {
        return {
          cards: [],
          isflipped: false,
          thecard: null,
        };
      },

      created() {
        this.fetchData();
      },

      mounted() {

      },

      methods: {

        // get data from data.json
        fetchData() {
          fetch('data.json')
            .then(response => response.json())
            .then(data => {
              this.cards = data.cards;
              this.thecard = this.cards[Math.floor(Math.random() * this.cards.length)];
            })
            .catch(error => {
              console.error('Error:', error);
            });
        },

        // flip card
        flipCard(card) {
          if (this.isflipped === false) {this.isflipped = true;}
        },
      },
    });

    app.mount('#deck');

  </script>
</body>

</html>
